.inventoryimage { width: 120px; }

.profileimage_nav { height: 50px; width: 50px; display:block; margin:auto;border-radius: 50%; }

.profileimage { height: 100px; width: 100px; display:block; margin:auto;border-radius: 50%; }

#items { text-align: center; }

.error-message { color: white; font-weight: bold; padding: 5px; margin-bottom: 5px; background-color: #D10017; width: 100%; text-align: center; }

.success-message { color: white; font-weight: bold; padding: 5px; margin-bottom: 5px; background-color: #0A8A57; width: 100%; text-align: center; }

.input-file { width: 50% }

.custom-input {  border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; font-size: 20px; width: 100%; margin-bottom: 20px; }
.custom-input2 {  border: 0; outline: 0; background: transparent; border-bottom: 1px solid black; font-size: 20px; width: 100%}

@media print {
    .hidden-print { display: none !important; }
}

