.inventoryimage { width: 120px; }

#items { text-align: center; }

.error-message { color: white; font-weight: bold; padding: 5px; margin-bottom: 5px; background-color: #D10017; width: 100%; text-align: center; }

